.document {
    &__box {
        opacity: 0.9;
        text-align: left;
        padding: 50px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        height: 100vh;
        background-color: #1a1a1a;
        color: white;
        width: 80%;
    }

    &__title {
        font-size: 40px;
        margin-top: 50px;
        font-weight: 500;
    }

    &__section {
        font-size: 25px;
        margin-top: 50px;
        font-weight: 500;
    }

    &__text {
        margin-top: 25px;
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 0;
    }
}